@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --text-extra:#ffff;
  --text-color:#121212;
  --bg-color: #003e62;
  --button-color: #FFC700;
  --hover-color: #003e62;
  --layer-color: #F6F6F6;
  --layer-colo: #989898;
  --layers-colo: #cacaca;  
  --tetra-color: #90f7d8;
  --base-color: #750037;
  --bases-color: #75003780;
  --base-colors: #75003730;
  --logo-text: #009ff5

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  color: var(--text-color);
  text-decoration:  var(--text-color);
 
}
a:hover {
  color:  var( --bg-color);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;  
  min-height: 100vh;
   background-color: antiquewhite;
   background-image: url('../src/assets/image1.jpg'); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  background-attachment: fixed; /* Makes the image stay fixed during scrolling */
  background-position: center; /* Centers the image */
  overflow-x: hidden;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color:  var(--bg-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-link {
  color: var(--hover-color);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--bg-color);
}

.nav-link.active {
  color: var(--button-color); /* Active link color */
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var( --bg-color);
  }
  button {
    background-color: #f9f9f9;
  }
}
